page-about {

  ion-header {
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
  }

  .scroll-content {
    background-color: color($colors, milkTea, base);
  }
  .aboutText {
    margin: 70px;
    vertical-align: center;
  }
  .poweredByText {
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
  }
  .yelpTrademark {
    width: 100px;
    height: auto;
    vertical-align: middle;
  }
  .poweredByYelp {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
