// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #E3C483,
  danger:     #f53d3d,
  light:      #f4f4f4,
  ice:        #DCFAFF,
  milkTeaXLt: #F1E3CE,
  milkTeaLt:  #E5D3BA,
  milkTea:    #D8C1A2,
  milkTeaDk:  #B89466,
  milkTeaXDk: #916831,
  dark:       #5E3806,
);

ion-header {
  background-color: color($colors, milkTeaXLt, base);
  border-bottom: 4px solid color($colors, dark, base);
  font-size: 13px;
}
// Second border
ion-header:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom: 4px solid color($colors, milkTeaDk, base);
}

ion-header .elementOutline {
  background-color: color($colors, ice, base);
  border: 4px solid color($colors, dark, base);
  border-radius: 10px;
  height: 100%;
}

ion-header ion-select {
  max-width: 100%;
  height: 100%;
}


.tabbar {
  background: color($colors, milkTeaXLt, base) !important;
  border-top: 4px solid color($colors, dark, base);
  height: 75px;
  padding-top: 4px;
}
// Second border
.tabbar:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-bottom: 4px solid color($colors, milkTeaDk, base);
}

.tab-button {
  border-radius: 100% !important;
  background-color: black !important;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 55px !important;
  max-width: 55px !important;
}
.tab-button[aria-selected="true"] {
  // border: 3px solid color($colors, milkTeaXDk, base) !important;
  box-shadow: 0 0 5px black, //color($colors, milkTeaDk, base),
              0 0 10px black; //color($colors, milkTeaDk, base);
}

// Add own image as tab icon
.tab-button-icon[ng-reflect-name=U], .tab-button-icon[aria-label=U] {
  background-repeat: no-repeat;
  background-image: url('../img/U.png');
  background-size: contain;
  height: 40px !important;
  width: 40px !important;
  vertical-align: bottom !important;
  position: absolute;
  top: 35%;
}
// Remove background for middle tab
.tab-button:nth-child(2) {
   box-shadow: none;
   background-color: transparent !important;
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$tabs-md-tab-icon-color: color($colors, ice, base);
$tabs-md-tab-text-color: color($colors, ice, base);
$tabs-md-tab-icon-color-active: color($colors, ice, base);
$tabs-md-tab-text-color-active: color($colors, ice, base);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
