// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-footer {
  background-color: color($colors, xLight, base);
  border-top: 4px solid color($colors, dark, base);
}
// Second border
ion-footer:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px !important;
  background-image: none !important;
  left: 0px;
  right: 0px;
  border-top: 4px solid color($colors, background, base);
}

// Back to exit toast window
.backToExit {
  text-align: center;
  margin-top: 150px;

  .toast-container {
    background: transparent;
  }
  .toast-wrapper {
    width: 50%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .toast-message {
    padding: 0px;
  }
}

// Menu content
ion-menu {
  .menuOption ion-label {
    margin: 8px 0px !important;
  }
  .menuFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .menuFooter ion-col {
    padding-top: 0px !important;
  }
  .menuFooter button {
    width: 100%;
    padding: 0px !important;
  }
}
// Options menu
ion-menu.options {
  .scroll-content {
    background-color: color($colors, xLight, base);
  }
  .openNow {
    background-color: transparent;
    margin: 4px 0px 4px 0px !important;
  }
  .openNow .item-inner {
    border-color: color($colors, dark, base);
    padding-bottom: 4px;
  }
  .menuOption {
    padding: 4px 0px 4px 16px;
    margin: 12px 4px;
    font-size: 16px;
  }
  // Split width for open now and distance items
  .menuOption ion-label div {
    display: inline-block;
    width: 50%;
  }
}
// Settings menu
ion-menu.settings {
  ion-list-header {
    padding: 4px 0px !important;
    margin: 0px !important;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  ion-list-header.list-header-ios {
    font-size: 16px;
  }
  .centeredText {
    font-size: 16px;
    margin-bottom: 10px;
  }
}


// About us overlay window
.alertWindow {
  .alert-head {
    padding: 20px 20px 16px 20px !important;
    background-color: color($colors, light, base);
    border-bottom: 4px solid color($colors, dark, base);
  }
  .alert-wrapper {
    background-color: color($colors, xLight, base);
  }
  .alert-message {
    padding: 12px 20px 0px 20px !important;
    overflow: hidden;
  }
  .alert-message div {
    padding-bottom: 4px;
  }
  .poweredByText {
    display: inline-block;
    vertical-align: middle;
    padding-top: 8px;
  }
  .yelpTrademark {
    width: auto;
    height: 48px;
    vertical-align: middle;
  }
  .companyInfo {
    margin-top: 6px;
  }
  .companyInfo .companyName {
    font-size: 18px;
    font-weight: bold;
  }
  .companyInfo div {
    padding: 4px 0px;
  }
}
