page-listView {
  .scroll-content {
    background-color: color($colors, background, base);
  }

  .locationRow {
    background-color: color($colors, xLight, base);
    border: 4px solid color($colors, dark, base);
    border-radius: 10px;
    height: 100%;
    padding: 4px;
    margin: 4px;
  }
  // Add padding for each line in location info
  .locationInfo div {
    font-size: 11px;
    padding-bottom: 2px;
  }
  .locationInfo div * {
    vertical-align: middle;
  }
  // Rating image already has some padding
  .locationInfo div:last-child {
    padding-bottom: 0px;
  }
  // Add emphasis for business name
  .locationInfo .locationName {
    font-size: 14px;
    font-weight: bold;
  }
  .reviewCount {
    display: inline-block;
  }
  .distance {
    font-size: 11px;
    margin-bottom: 2px;
  }
  .directionsButton {
    width: 35px;
    height: 35px;
    background-color: white !important;
    padding: 4px !important;
  }
  .directionsIcon {
    width: 100%;
    height: 100%;
  }
  // Remove extra padding from navigation button
  .scroll-content ion-col:last-child{
    padding-bottom: 0px;
  }


  ion-footer ion-col {
    text-align: center;
  }
  ion-footer ion-col > div {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 100%;
    margin: auto;
  }
  ion-footer ion-col button {
    height: 100% !important;
    width: 100% !important;
    margin: 0px !important;
  }
  ion-footer .button-clear-md {
    color: white;
  }
  ion-footer ion-col img {
    max-height: 36px;
    max-width: 36px;
    vertical-align: middle;
  }

  .verticalAlignHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .needLocationDiv {
    position: relative;
    background-color: color($colors, xLight, base);
    width: 100%;
    height: 100%;
  }
  .needLocation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .needLocationText {
    margin-bottom: 12px;
    font-size: 20px;
  }
  .needLocation .greenLightText {
    color: green;
    font-weight: bold;
  }

  #map {
    height: 99.5%;
    background-color: color($colors, primary, base);
  }

  // Current location control
  .getCurrentLocation {
    width: 36px;
    height: 36px;
    margin: 12px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border-radius: 2px;
  }
  .getCurrentLocation img {
    width: 100%;
    height: 100%;
    opacity: 0.75;
  }

  .infoWindowContent {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    .leftContent {
      float: left;
      width: 170px;
      font-size: 11px;
    }
    .leftContent > div {
      padding-bottom: 4px;
    }
    .leftContent .name {
      font-size: 13px;
      font-weight: bold;
    }
    .ratings img,div {
      vertical-align: middle;
      display: inline-block;
    }
    .ratings div {
      padding-top: 2px;
    }
    .rightContent {
      float: right;
      width: 36px;
    }
    .rightContent div {
      width: 100%;
      padding-top: 2px;
    }
    .navigationButton {
      width: 36px;
      height: 36px;
      padding: 4px;
      margin-top: 4px;
      background-color: white;
      border-radius: 100%;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12);
      transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1),
                  background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
                  color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }


  // See https://stackoverflow.com/questions/28589361/google-maps-infowindow-width-is-overwritten-even-when-set-correctly
  .gm-style div[style*="cursor: default;"] {
    visibility: hidden;
  }
  .gm-style div[style*="cursor: default;"].custom-iw {
    visibility: visible;
  }
  // Hide x in infoWindow
  .gm-style-iw + div {
    display: none;
  }
  // Remove right margin from info window
  .custom-iw .gm-style-iw {
    top:10px !important;
    left:0 !important;
    border-radius:2px;
  }
  .custom-iw>div:first-child>div:nth-child(2) {
      display:none;
  }
  /** the shadow **/
  .custom-iw>div:first-child>div:last-child {
      left:0 !important;
      top:0px;
      box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;
      z-index:-1 !important;
  }
  .custom-iw .gm-style-iw,
  .custom-iw .gm-style-iw>div,
  .custom-iw .gm-style-iw>div>div {
      width:100% !important;
      max-width:100% !important;
  }
  /** set here the width **/
  .custom-iw,
  .custom-iw>div:first-child>div:last-child {
      width:230px !important;
  }
  /** set here the desired background-color **/
  .custom-iw,
  .custom-iw>div:first-child>div:nth-child(n-1)>div>div,
  .custom-iw>div>div:last-child,
  .custom-iw .gm-style-iw,
  .custom-iw .gm-style-iw>div,
  .custom-iw .gm-style-iw>div>div {
    background-color: color($colors, xLight, base) !important;
  }
  /** close-button(note that there may be a scrollbar) **/
  /*
  .custom-iw>div:last-child {
      top:1px !important;
      right:0 !important;
  }
  */

}
